.lower-section-1,
.lower-section-2 {
  display: flex;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
}

.lower-section-1-1,
.lower-section-2-1 {
  display: flex;
  margin-left: 50px;
}
.lower-section-1-1 img , .lower-section-2-1 img{
  margin-left:20px;
  border-radius: 20px;
}
.lower-section-1-2,
.lower-section-2-2 {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-top: 100px;
}

.lower-section-1-2 img,
.lower-section-2-2 img{
  margin-right: 20px;
  border-radius: 20px;
}
.lower-section-2-2 img {
  margin-right: 20px;
  margin-top: 10px;
  object-fit: cover;
}
.subtitle {
  margin-left: 20px;
}